<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qgstudio.anywork"
    android:versionCode="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".fenter.EnterActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".fgrade.GradeActivity" />
        <activity android:name=".fmain.HomeActivity" />
        <activity android:name=".fexam.ExamActivity" />
        <activity android:name=".fpaper.PaperActivity" />
        <activity android:name=".fexam.QuestionsActivity" />
    </application>

</manifest>